.col-catalog {
  display: none;
  @media (min-width: 1000px) {
    display: block;
  }
}

.form-search {
  margin-bottom: 40px;
}

.form-search__input {
  outline: none;
  border: none;
  padding: 10px;
  background: fff;
  width: 100%;
  height: 40px;

  font-family: "Avenir", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 95.2%;
  color: $base;
  border: 2px solid #fff;
  transition: 0.2s ease-in-out;
  &:focus {
    border: 2px solid $l-base;
  }
}

.faq-form__input::-webkit-input-placeholder {
  font-family: "Avenir", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 95.2%;
  color: $grey;
}
.faq-form__input:-ms-input-placeholder {
  font-family: "Avenir", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 95.2%;
  color: $grey;
}
.faq-form__input::-moz-placeholder {
  font-family: "Avenir", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 95.2%;
  color: $grey;
}
.faq-form__input:-moz-placeholder {
  font-family: "Avenir", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 95.2%;
  color: $grey;
}

.nav-catalog {
  width: 100%;
  background: $base;
  padding: 20px 16px;
}

.category__item {
  margin-bottom: 18px;
}

.category__name {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.category__arrow {
  width: 11px;
  height: 11px;
  margin-right: 7px;
  transition: 0.2s ease-in-out;
}

.category__arrow.arrow-up {
  transform-origin: center;
  transform: rotate(90deg);
}

.category__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 95.2%;
}

.product__dropdown {
  transition: 0.2s ease-in-out;
}

.product__list {
  padding: 20px 0 18px 27px;
}

.products__item {
  margin-bottom: 18px;
  &:last-child {
    margin-bottom: 0;
  }
}

.product__link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
