.h-contact {
  padding: 0 15px;
  background-color: #fff;
  @media (min-width: 1280px) {
    padding: 0;
  }
}
.h-contact__inner {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 1000px) {
    height: 100px;
  }
}
.logo__img {
  width: 80px;
  height: auto;
  @media (min-width: 1000px) {
    width: 160px;
  }
}

.h-contact__list {
  display: flex;
}

.h-contact__item {
  display: none;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  color: $d-red;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: 470px) {
    margin-right: 30px;
    &:first-child {
      display: flex;
    }
  }

  @media (min-width: 600px) {
    margin-right: 30px;
    &:last-child {
      display: flex;
    }
  }

  @media (min-width: 800px) {
    margin-right: 30px;
    &:nth-child(2) {
      display: flex;
    }
  }

  @media (min-width: 1000px) {
    display: flex;
    margin-right: 30px;
    font-family: "Avenir", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 95.2%;
  }
  @media (min-width: 1000px) {
    margin-right: 100px;
    &:first-child {
      margin-right: 100px;
    }
  }
}

.h-contact__icon {
  display: none;
  user-select: none;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  @media (min-width: 1000px) {
    display: inline-block;
  }
}

.h-contact__link {
  color: $d-red;
}

.h-mobile__btns {
  display: flex;
  @media (min-width: 1000px) {
    display: none;
  }
}

.h-mobile__btn-item {
  margin-right: 21px;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
}

.h-mobile__btn-img {
  height: 25px;
  width: auto;
}
