.pagination {
  display: flex;
  margin-bottom: 50px;
  padding: 0 15px;
  @media (min-width: 1000px) {
    margin-bottom: 100px;
  }
  @media (min-width: 1280px) {
    padding: 0;
  }
}

.pagination__link {
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;

  background: $d-l-base;
  margin-right: 10px;

  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 95.2%;
  color: #ffffff;
  &:last-child {
    margin-right: 0;
  }
  @media (min-width: 1000px) {
    background: $base;
    font-size: 25px;
    transition: 0.2s ease-in-out;
    &:hover {
      background: $l-base;
    }
  }
}

.pagination__link--no-hover {
  &:hover {
    background: $base;
  }
}

.pagination__link--is-active {
  border: 1px solid $base;
  background: #fff;
  color: $base;
  @media (min-width: 1000px) {
    border: 1px solid #fff;
  }
}

.pagination__arrow {
  width: 15px;
  height: 15px;
}
